{% extends "base_generic.html" %}

{% block content %}
  <h1>Artist List</h1>
  {% if artist_list %}

    {% for artist in artist_list %}

        {% if forloop.first %}<div class="row">{% endif %}
        <div class="col-4 photo-grid square" style="background-image: url('{{ artist.display_url }}'); ">

          <div class="aspect-ratio-box"
              <a href="{{ artist.get_absolute_url }}"  title="photo" id="photo">{{ artist.instagram_handle }} ({{artist.likes}})</a>
            </div>
          </div>
        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}

    {% endfor %}

  {% else %}
    <p>There are no artists here.</p>
  {% endif %}
{% endblock %}
