{% extends "base_generic.html" %}

{% block content %}
<div class="row" style="background-color: black;">


  <img src="{{ artist_detail.display_url }}" >
  <h1 style="color: white;">Artist: {{ artist_detail.instagram_handle }}</h1>
  </div>
  <a href="https://www.instagram.com/{{ artist_detail.instagram_handle }}">Artist Profile: {{ artist_detail.instagram_handle }}</a> <!-- author detail link not yet defined -->
  <p><strong>Likes:</strong> {{ artist_detail.likes }}</p>
  <p><strong>Caption:</strong> {{ artist_detail.caption }}</p>
  <p><strong>State:</strong> {{ artist_detail.state }}</p>
  <p><strong>Post:</strong> {{ artist_detail.display_url }}</p>



{% endblock %}
