{% extends "base_generic.html" %}

{% block content %}
  <h1>Artist List</h1>
  {% if artist_list %}

    {% for artist in artist_list %}

        {% if forloop.first %}<div class="row">{% endif %}
        <div class="col-4 no-padding" >
            <h3>{{ artist.instagram_handle }}</h3>
              <div class="overlay">
                  <div class="square photo-grid" style="background-image: url('{{ artist.display_url }}'); ">
                  <a href="{{ artist.get_absolute_url }}"  title="photo" id="photo"></a>
                  </div>
            </div>
          </div>
        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}

    {% endfor %}

  {% else %}
    <p>There are no artists here.</p>
  {% endif %}
{% endblock %}
